/* line 1, ../../assets/css/map/_modules.sass */
.content {
  height: 100%;
}

/* line 3, ../../assets/css/map/_modules.sass */
.module {
  margin-bottom: 15px;
}
/* line 6, ../../assets/css/map/_modules.sass */
.module .select-bar {
  padding: 10px 10px 0 10px;
  background: #fafafb;
  border-bottom: 1px solid #e1e1e2;
}
/* line 10, ../../assets/css/map/_modules.sass */
.module .select-bar select {
  margin-bottom: 10px;
}
/* line 13, ../../assets/css/map/_modules.sass */
.module .date-range {
  margin-bottom: 10px;
}
/* line 15, ../../assets/css/map/_modules.sass */
.module .date-range label {
  display: inline-block;
  width: 49%;
}
/* line 20, ../../assets/css/map/_modules.sass */
.module .list-points {
  font-size: 0.9em;
}
/* line 23, ../../assets/css/map/_modules.sass */
.module .nav-tabs {
  border-bottom: 0;
}
/* line 26, ../../assets/css/map/_modules.sass */
.module .content {
  padding: 10px 10px 0 10px;
  word-break: break-all;
}
/* line 31, ../../assets/css/map/_modules.sass */
.module .dl-horizontal dt {
  width: 80px;
}
/* line 33, ../../assets/css/map/_modules.sass */
.module .dl-horizontal dd {
  margin-left: 90px;
}
/* line 36, ../../assets/css/map/_modules.sass */
.module .tracker-item, .module .polyline-item {
  *zoom: 1;
  cursor: pointer;
  background: whitesmoke;
  border-radius: 4px;
  margin-bottom: 5px;
  padding: 10px;
}
/* line 18, ../../assets/css/burbon/addons/_clearfix.scss */
.module .tracker-item:before, .module .tracker-item:after, .module .polyline-item:before, .module .polyline-item:after {
  content: " ";
  display: table;
}
/* line 23, ../../assets/css/burbon/addons/_clearfix.scss */
.module .tracker-item:after, .module .polyline-item:after {
  clear: both;
}
/* line 43, ../../assets/css/map/_modules.sass */
.module .tracker-item:hover, .module .polyline-item:hover {
  background: #eaeaea;
}
/* line 46, ../../assets/css/map/_modules.sass */
.module .tracker-item .pic, .module .polyline-item .pic {
  margin-right: 10px;
}
/* line 49, ../../assets/css/map/_modules.sass */
.module .direction, .module .status {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
}
/* line 56, ../../assets/css/map/_modules.sass */
.module .direction {
  background: url(/img/map/direction-arrow.png) no-repeat;
}
/* line 59, ../../assets/css/map/_modules.sass */
.module .status.AUTOSTART {
  background: url(/img/map/start.png) no-repeat;
}
/* line 61, ../../assets/css/map/_modules.sass */
.module .status.AUTOSTOP {
  background: url(/img/map/stop.png) no-repeat;
}
/* line 63, ../../assets/css/map/_modules.sass */
.module .status.AUTO {
  background: url(/img/map/navigate.png) no-repeat;
}
/* line 65, ../../assets/css/map/_modules.sass */
.module .status.ANSWER {
  background: url(/img/map/answer.png) no-repeat;
}
/* line 67, ../../assets/css/map/_modules.sass */
.module .status.STORAGE {
  background: url(/img/map/storage.png) no-repeat;
}

/* line 70, ../../assets/css/map/_modules.sass */
.bar-module {
  display: inline-block;
  margin-left: 10px;
}
/* line 74, ../../assets/css/map/_modules.sass */
.bar-module .current-time {
  margin-left: 4px;
}

/* line 1, ../../assets/css/map/_top-bar.sass */
#top-bar {
  *zoom: 1;
}
/* line 18, ../../assets/css/burbon/addons/_clearfix.scss */
#top-bar:before, #top-bar:after {
  content: " ";
  display: table;
}
/* line 23, ../../assets/css/burbon/addons/_clearfix.scss */
#top-bar:after {
  clear: both;
}
/* line 4, ../../assets/css/map/_top-bar.sass */
#top-bar ul.menu {
  list-style: none;
  margin: 0;
}
/* line 7, ../../assets/css/map/_top-bar.sass */
#top-bar ul.menu li {
  float: left;
}
/* line 9, ../../assets/css/map/_top-bar.sass */
#top-bar ul.menu li a {
  color: #333333;
  font-weight: 700;
  display: block;
  padding: 10px;
  text-shadow: 0 -1px white;
}
/* line 15, ../../assets/css/map/_top-bar.sass */
#top-bar ul.menu li a:hover {
  background: rgba(0, 0, 0, 0.05);
  color: #4183c4;
  text-decoration: none;
}
/* line 19, ../../assets/css/map/_top-bar.sass */
#top-bar ul.menu li a .glyphicon {
  margin-right: 3px;
  line-height: 20px;
}
/* line 23, ../../assets/css/map/_top-bar.sass */
#top-bar ul.menu li.active a {
  color: white;
  text-shadow: 0 1px black;
  box-shadow: 0 1px #444444;
  background-image: -webkit-linear-gradient( #333333, #555555);
  background-image: linear-gradient( #333333, #555555);
}

/* line 1, ../../assets/css/map/leaflet.sass */
.leaflet-control-zoom,
.leaflet-control-layers {
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
}

/* line 6, ../../assets/css/map.sass */
html, body, .table-fluid, .content-page, #map {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 11, ../../assets/css/map.sass */
.table-fluid {
  display: table;
}
/* line 13, ../../assets/css/map.sass */
.table-fluid .row {
  display: table-row;
}
/* line 15, ../../assets/css/map.sass */
.table-fluid .row:before, .table-fluid .row:after {
  display: none;
}
/* line 17, ../../assets/css/map.sass */
.table-fluid .row .cell {
  display: table-cell;
}

/* line 20, ../../assets/css/map.sass */
.table-fluid, .row, .cell {
  padding: 0;
  margin: 0;
}

/* line 24, ../../assets/css/map.sass */
#sidebar-container {
  width: 300px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

/* line 28, ../../assets/css/map.sass */
#advanced-container {
  width: 300px;
  border-right: 1px solid #e1e1e1;
  display: none;
}

/* line 33, ../../assets/css/map.sass */
#header-container {
  height: 40px;
  background-image: -webkit-linear-gradient( #f9f9f9, #f3f3f3);
  background-image: linear-gradient( #f9f9f9, #f3f3f3);
}

/* line 37, ../../assets/css/map.sass */
#top-bar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

/* line 40, ../../assets/css/map.sass */
#footer-container {
  font-size: 0.9em;
  line-height: 21px;
  height: 21px;
  background-image: -webkit-linear-gradient( #f3f3f3, #f9f9f9);
  background-image: linear-gradient( #f3f3f3, #f9f9f9);
}

/* line 46, ../../assets/css/map.sass */
#footer-bar {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

/* line 49, ../../assets/css/map.sass */
#main-container {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

/* line 54, ../../assets/css/map.sass */
#loading-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  background-image: -webkit-radial-gradient( white, #cccccc);
  background-image: radial-gradient( white, #cccccc);
}

/* line 65, ../../assets/css/map.sass */
#statistic-page,
#reports-page {
  height: 0;
}
