<div class="module" ng-controller="TrackersCtrl">
  <div class="select-bar">
    <div ng-show="selectedTracker">
      <button class="btn btn-danger btn-small pull-right" ng-click="selectedTracker=null">&times;</button>
      <h4>{{selectedTracker.name}}</h4>
      <p>
        <button class="btn btn-mini btn-primary" ng-click="panToSelectedTracker()" ng-disabled="!liveMode">Показати на карті</button>
        <label>
          <input type="checkbox" ng-model="tracksSlectedTracker" ng-disabled="!liveMode"> Слідувати
        </label>
      </p>
      <ul class="nav nav-tabs">
        <li class="active" ng-click="liveMode = true">
          <a href="#liveMode" data-toggle="tab">Live</a>
        </li>
        <li ng-click="liveMode = false">
          <a href="#historyMode" data-toggle="tab">Історія</a>
        </li>
      </ul>
    </div>
  </div>
  <div ng-hide="selectedTracker" class="content">
    <div class="tracker-item" ng-repeat="t in trackersList.active()" ng-click="selectTracker(t)" ng-mouseover="panToTracker(t)">
      <h5><span status="t.livePoint.status" class="status"></span>{{t.name}}</h5>
      <span tooltip="{{t.livePoint.date | moment}}">{{t.livePoint.date | timeAgo}}</span><br>
      <span geocode="t.livePoint.latlng">...</span>
    </div>
  </div>
  <div ng-show="selectedTracker" class="content">
    <div class="tab-content">
      <div class="tab-pane active" id="liveMode">
        <dl class="dl-horizontal">
          <dt>Остані дані</dt>
          <dd>{{selectedTracker.livePoint.date | timeAgo}}</dd>
          <dt>Швидкість</dt>
          <dd>{{selectedTracker.livePoint.speed | speed}}</dd>
          <dt>Напрямок</dt>
          <dd>
            <span direction="selectedTracker.livePoint.direction" class="direction"></span>
            {{selectedTracker.livePoint.direction | direction}}</dd>
          <dt>Стан</dt>
          <dd>
            <span status="selectedTracker.livePoint.status" class="status"></span>
            {{selectedTracker.livePoint.status}}
          </dd>
          <dt>Розташування</dt>
          <dd geocode="selectedTracker.livePoint.latlng">{{selectedTracker.livePoint.latlng.lng}}, {{selectedTracker.livePoint.latlng.lat}}</dd>
        </dl>
        <dl><dt>Розташування</dt></dl>
        <chart type="spline" width="279" trigger="selectedTracker" serie="selectedTracker.points.toSpeedChart(10)" last="selectedTracker.livePoint.toSpeedChart()"></chart>
      </div>
      <div class="tab-pane" id="historyMode">
        <div class="date-range">
          <label class='from'>
            З
            <input pickdate-js ng-model='dateRange.from' max='dateRange.to' />
          </label>
          <label class='to'>
            До
            <input pickdate-js ng-model='dateRange.to' min='dateRange.from' max='1' />
          </label>
          <!--<a href="#" ng-click="openStatsBar()" class="btn btn-small pull-right">Статистика</a>-->
          <button class="btn btn-success btn-small" ng-click="fetchHistory()">Показати</button>
          <h4>Маршрути</h4>
          <div ng-repeat="p in selectedTracker.historyLayer.getLayers()" ng-mouseover="highlightLayer(p)" ng-mouseout="resetHighlight(p)" ng-click="fitLayer(p)" class="polyline-item">
              {{p.distance()}}
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
