extends ../layouts/front

block content
  .container
    .row
      .col.col-lg-12.head-menu
        != link_to(__('← Go back'), '/', { class: 'pull-left' })
        != link_to(__('Sign in →'), '/login', { class: 'pull-right' })
    .row
      .col.col-lg-4.col-offset-4.header
        h2= __('Create your free account')
        h4= __('Sign up free in seconds. Improve your business now.')
    .row
      .col.col-lg-4.col-offset-4.registration-container
        block main