.navbar
  .container
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
      span.icon-bar
      span.icon-bar
      span.icon-bar
  
    a.navbar-brand(href='/')= app_name
    
    .nav-collapse.collapse.navbar-responsive-collapse
      ul.nav.navbar-nav
        li.active!= link_to(__('Home'), '/')
    
      include ../shared/user-menu