extends _base

block title
  = __('Map')

block main
  #loading-container
  .table-fluid#main-container
    .row#header-container
      .cell#top-bar
          ul.menu.pull-left
            li.active!= link_to(icon('globe') + __('Карта'), '#trackers-page', { data: { toggle: 'tab' } })
            //li!= link_to(icon('dashboard') + __('Statistic'), '#statistic-page', { data: { toggle: 'tab' } })
            //li!= link_to(icon('list-alt') + __('Reports'), '#reports-page', { data: { toggle: 'tab' } })
          ul.menu.pull-right
            li!= link_to(icon('user') + current_user.fullname, '/account')
            li!= link_to(icon('off') + __('Вихід'), '/logout', { data: { method: 'DELETE' } })
    .row#content-container
      .cell.tab-content#content
        .content-page.tab-pane.active#trackers-page
          .table-fluid
            .row
              .cell#sidebar-container
                .content#sidebar-content
              .cell#map-container
        .content-page.tab-pane.active#statistic-page
        .content-page.tab-pane.active#reports-page
    .row#footer-container
      .cell#footer-bar
        .bar-module
          != icon('time')
          span.current-time(current-time)

        .bar-module
          = __('Trackers:')
          span.trackers-count(trackers-count)